@import url('https://fonts.googleapis.com/css?family=Roboto');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-outline-warning:hover{
  color: white !important;
}

.btn-warning{
  color: white !important;
}

.btn-link{
  color: #ffc107 !important;
}

.btn-custom{
  padding: 0 !important;
}

body {
  background: linear-gradient(to bottom, #ffc107 22vw, #F0F0F6 5vw);
  font-family: 'Roboto' !important;
  margin: 0;
  min-height: 100vh;
  max-width: 100vw;
  min-width: 100%;
  padding-top: 45px;
  position: relative;
}
@media screen and (max-width: 1024px) {

  body{
      background: linear-gradient(to bottom, #ffc107 73vw, #F0F0F6 5vw);
  }
}


.h2{
      color: #ffc107 !important;
}

.impressum{
  margin-left: 4.3vw;
  margin-bottom: 2vw;
  margin-top: 2.5vw;
  float: left;
  width: 100%

}
}

hr {
    display: block;
    height: 0.2vw;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    border-color: darkgrey;
}
#copyright{
  width: 16vw;

}

footer{
  height: 20%;
  bottom: 0;
  position: inherit;
}

.navbar.scrolled {
  background-color: #ffc107 !important;
  transition: background-color 200ms linear;
}

.navbar-toggler {
    border-color: rgb(255,255,255);
}
.nabar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#mainPicture{
  -webkit-filter: grayscale(30%);
  filter: grayscale(30%);
  transition: 0.3s;
}

.btn-more{
  color: #ffc107 !important;
}
