body{
  background: #008333;
}
.redBox {
  position: absolute;
  width: 400px;
  height: 300px;
  z-index: 15;
  top: 45%;
  left: 45%;
  margin: -100px 0 0 -150px;
  background: #d42426;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .redBox {
    width: 93.5%;
    height: 100vw;
    top: 40%;
  }
}
#date{
  margin-top: 0;
  color: white;
  font-size: 2.5vw;
  font-family: 'Mountains of Christmas', cursive;
}
@media screen and (max-width: 1024px) {
  #date {
    font-size: 12vw;
  }
}

#fullSite{
  height: 100vh;
  width: 100vh;
}

.oldBox{
  width: 400px;
  height: 300px;
  text-align: center;
  background: #d42426;
  float:left;
  overflow: hidden;
  margin-right: 1vw;
  display: inline;
  margin-bottom: 1vw;
}
@media screen and (max-width: 1024px) {
  .oldBox {
    width: 99%;
    height: 120vw;
    top: 40%;
  }
}

.oldText{
  margin-top: 0;
  color: white;
  font-size: 2vw;
  font-family: 'Mountains of Christmas', cursive;
}
@media screen and (max-width: 1024px) {
  .oldText {
    font-size: 12vw;
  }
}
